<h1>Edit <%= @cocktail.name %></h1>
<div class="edit-container">
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Finish! ðŸ‘ŒðŸ½", class: "btn btn-outline-secondary" %>
  <% end %>

</div>
